.button {
  display: inline-block;
  margin-right: 10px;
  border: 0;
  border-radius: 5px;
  min-width: 80px;
  color: #fff;
  background-color: teal;
}

.button:hover {
  cursor: grab;
  background-color: tomato;
}
