$main--color: teal;
// container width
$to-tablet: 767px;
$tablet: 768px;
$to-desktop: 1023px;
$desktop: 1024px;



.main {
  min-height: calc(100vh - 330px);

  @media screen and (max-width: 767px) {
    min-height: calc(100vh - 307px);
  }

  // padding-top: 20px;
  padding-bottom: 40px;
}

.gallery__list {
  margin: 20px;
  transform: scale(1);
  transition: transform 150ms linear;

  &:hover {
    cursor: grab;
    transform: scale(1.04);
  }
}

// .gallery__image-border {
//   border: 3px;
//   color: #000;
// }

.gallery__image {
  width: 280px;
  height: 398px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.gallery__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 5px;
  margin-right: 10px;
  text-transform: uppercase;
}

.gallery__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color:$main--color;
}

.gallery__rating {
  display: inline-block;
  text-align: center;
  width: 36px;
  margin-left: 10px;
  color: #fff;
  background-color:$main--color;

  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .main {
    // padding-top: 60px;
    padding-bottom: 50px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .gallery__list {
    width: calc((100% - 2 * 30px) / 2);

    margin: 15px;
  }

  .gallery__image {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    // padding-top: 60px;
    padding-bottom: 50px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .gallery__list {
    margin: 15px;
    width: calc((100% - 3 * 30px) / 3);
  }

  .gallery__image {
    width: 274px;
  }
  .flex{
      display: flex;
    
  }
} ;




.image {
//   margin-right: auto;
//   margin-left: auto;
margin-right: 20px;
  display: block;

  max-width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    max-width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 396px;
    height: 477.8px;
  }
}
.film__image {
  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
}
.film__information {
  text-align: start;
}

.film__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.reviews__list{
 display: flex;
 flex-direction: column;
 margin-top: 20px;

font-size: 18px;
font-family: 'georgia';
text-align: left;

color: teal;
}

.reviews__item{
  margin-bottom: 10px;
}

.casts{
  margin-top: 20px;
}

.details{
  
display: flex;
 
}


.film__information {
  text-align: start;
  
}

.film__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 10px;
 
}

.film__item {
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
}
.film__details {
  color: teal;
  margin-bottom: 10px;
}


.button {
  border: 0;
  border-radius: 5px;
  min-width: 80px;
  margin-bottom: 10px;
  color: #fff;
  background-color: teal;
}

.button:hover {
  cursor: grab;
  background-color: tomato;
}


